.connections{

    height: 94vh;
    overflow-y: scroll;
    background-color: white;
    margin-right: 50px;
}
.connections__header{
  
    padding: 0.5rem;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
}
.connections__header__title{
    display:flex;
    justify-content: space-evenly;
}

.connections__header__title__followers__button ,.connections__header__title__following__button {
    background-color: #5dd0ae;
    border: none;
    padding: 8px;
    border-radius: 5px;
}