.login{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
    background-color: #0081ab;
}
.login__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: space-evenly;
    height: 70%;
    width: 30%;
   
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    margin-top: 10px;
}
.login__header__title{
    font-size: 3rem;
}
.login__body{
   
}
.login__body__item{
    padding: 15px;
}